[submodule "VIM/bundle/rust.vim"]
	path = VIM/bundle/rust.vim
	url = https://github.com:wting/rust.vim
[submodule "VIM/bundle/powerline"]
	path = VIM/bundle/powerline
	url = https://github.com/Lokaltog/powerline
[submodule "VIM/bundle/zencoding-vim"]
	path = VIM/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim
[submodule "VIM/bundle/cf-utils.vim"]
	path = VIM/bundle/cf-utils.vim
	url = https://github.com/davejlong/cf-utils.vim
[submodule "VIM/bundle/emmet-vim"]
	path = VIM/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "VIM/bundle/vim-airline"]
	path = VIM/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "VIM/bundle/vim-mustache-handlebars"]
	path = VIM/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "VIM/bundle/ctrlp.vim"]
	path = VIM/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "VIM/bundle/vim-es6"]
	path = VIM/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6
