[submodule "VIM/bundle/rust.vim"]
	path = VIM/bundle/rust.vim
	url = git@github.com:wting/rust.vim.git
[submodule "VIM/bundle/powerline"]
	path = VIM/bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "VIM/bundle/zencoding-vim"]
	path = VIM/bundle/zencoding-vim
	url = git@github.com:mattn/zencoding-vim.git
[submodule "VIM/bundle/cf-utils.vim"]
	path = VIM/bundle/cf-utils.vim
	url = git@github.com:davejlong/cf-utils.vim.git
[submodule "VIM/bundle/emmet-vim"]
	path = VIM/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "VIM/bundle/vim-airline"]
	path = VIM/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "VIM/bundle/vim-mustache-handlebars"]
	path = VIM/bundle/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "VIM/bundle/ctrlp.vim"]
	path = VIM/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "VIM/bundle/vim-es6"]
	path = VIM/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6
